<!DOCTYPE html>
<html>
  <head>
    <title>JW-MEMO</title>
    <meta charset="utf8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">
    <link type="text/css" rel="stylesheet" href="dist/css/base.css" />
    <!--link type="text/css" rel="stylesheet" href="dist/css/jnote.css"  /-->
    <link type="text/css" rel="stylesheet" href="dist/css/note.css" />
    <link type="text/css" rel="stylesheet" href="dist/css/markdown.css" />
  </head>
  <body>
    <div id="jnote"></div>
    <script src="dist/jsvim.js"></script>
    <script>
      var vim = new VIM();
    </script>
    <script src="dist/bundle.js"></script>
  </body>
</html>
