<!DOCTYPE html>
<html>
  <head>
    <title>react-router-redux basic example</title>
    <meta charset="utf8"/>
    <link type="text/css" rel="stylesheet" href="dist/css/base.css" />
    <!--link type="text/css" rel="stylesheet" href="dist/css/jnote.css"  /-->
    <link type="text/css" rel="stylesheet" href="dist/css/note.css" />
    <link type="text/css" rel="stylesheet" href="dist/css/markdown.css" />
  </head>
  <body>
    <div id="jnote"></div>
    <script src="dist/bundle.js"></script>
  </body>
</html>
