<!DOCTYPE html>
<html>
  <head>
    <title>JW-MEMO</title>
    <meta charset="utf8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">
    <link type="text/css" rel="stylesheet" href="dist/css/base.css" />
    <!--link type="text/css" rel="stylesheet" href="dist/css/jnote.css"  /-->
    <link type="text/css" rel="stylesheet" href="dist/css/note.css" />
    <link type="text/css" rel="stylesheet" href="dist/css/markdown.css" />
    <link type="text/css" rel="stylesheet" href="dist/css/dialog.css" />
    <link type="text/css" rel="stylesheet" href="dist/css/codemirror.css" />
  </head>
  <body>
    <div id="jnote"></div>
    <script src="dist/codemirror.js"></script>
    <script src="dist/dialog.js"></script>
    <script src="dist/vi.js"></script>
    <script>
      var isMobile = {
        Android: function () {
           return navigator.userAgent.match(/Android/i) == null ? false : true;
        },
        BlackBerry: function () {
           return navigator.userAgent.match(/BlackBerry/i) == null ? false : true;
        },
        IOS: function () {
           return navigator.userAgent.match(/iPhone|iPad|iPod/i) == null ? false : true;
        },
        Opera: function () {
           return navigator.userAgent.match(/Opera Mini/i) == null ? false : true;
        },
        Windows: function () {
           return navigator.userAgent.match(/IEMobile/i) == null ? false : true;
        },
        any: function () {
           return (isMobile.Android() || isMobile.BlackBerry() || isMobile.IOS() || isMobile.Opera() || isMobile.Windows());
        }
      };

    </script>
    <script src="dist/bundle.js"></script>
  </body>
</html>
